<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="icon" type="image/x-icon"
          href="https://cdn.jsdelivr.net/npm/startbootstrap-simple-sidebar@6.0.6/dist/assets/favicon.ico"/>
    <link href="https://cdn.jsdelivr.net/npm/startbootstrap-simple-sidebar@6.0.6/dist/css/styles.css"
          rel="stylesheet"/>

</head>
<body>
<!--페이지 내용-->
<div class="container-fluid" layout:fragment="content">

</div>

<script src="https://cdn.jsdelivr.net/npm/startbootstrap-simple-sidebar@6.0.6/dist/js/scripts.js"></script>

<th:block layout:fragment="script">

</th:block>


</body>
</html>