<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
제품 목록보기
<ul>
    <li th:each="product: ${products}">
        <span th:text="${product.getId()}"></span>
        <span th:text="${product.getCategory().getName()}"></span>
        <span th:text="${product.getName()}"></span>
        <span th:text="${product.getPrice()}"></span>
    </li>
</ul>

<ul>
    <li th:each="category: ${products_category}">
        <span th:text="${category.getId()}"></span>
        <span th:text="${category.getName()}"></span>
        <span th:text="${category.getPrice()}"></span>
        <span th:text="${category.getQuantity()}"></span>
    </li>
</ul>
<ul>
    <li th:each="product: ${product_price}">
        <span th:text="${product.getId()}"></span>
        <span th:text="${product.getName()}"></span>
        <span th:text="${product.getPrice()}"></span>
        <span th:text="${product.getQuantity()}"></span>
    </li>
</ul>

</body>
</html>